<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand mr-4" href="#">
              <span class="d-inline-block align-top mr-3">
                <span class="fas fa-users"></span>
              </span>
        <span> Community </span>
      </a>

      <a class="navbar-brand mr-4" routerLink="/sign-in" href="#" *ngIf="hasUser === false">
              <span class="d-inline-block align-top mr-3">
                <span class="fas fa-user-friends"></span>
              </span>
        <span> Join </span>
      </a>

      <a class="navbar-brand mr-4" href="javascript:void(0)"  *ngIf="hasUser === true">
        <span routerLink="/profile" style="font-weight: bold" > {{ user.name}} </span>
        <a class="btn btn-danger btn-sm" href="javascript:void(0)" (click)="onSignOut()">  <i class="fas fa-sign-out-alt"></i> Log out </a>
      </a>

      <form class="form-inline">
        <a class="navbar-brand mr-5" href="#">
          <span class="d-inline-block align-top mr-3">
            <span class="fas fa-thumbs-up"></span>
          </span>
          <span> Feedback </span>
        </a>
        <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
      </form>
    </nav>
  </div>
</div>
