<div class="col">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand " href="#">
      <span class="d-inline-block align-top mr-5">
        <span class="fas fa-chart-line"></span>
      </span>
      <span class="d-inline-block mr-4">
        Stats
      </span>
    </a>
  </nav>
  <div class="list-group ">
    <a href="#" class="list-group-item list-group-item-action ">
      <i class="fas fa-heart fa-1x mr-2" ></i>
      Favorites
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="fas fa-fire fa-1x mr-2" ></i>
      Visits
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="fas fa-cloud fa-1x mr-2" ></i>
      Comments
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="fas fa-star fa-1x mr-2" ></i>
      Followed
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="fas fa-cog fa-1x mr-2" ></i>
      Works
    </a>
  </div>

</div>
