<div class="container" style="">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <a class="col-md-12 d-flex justify-content-center" style="text-decoration: none" href="javascript:void(0)" routerLink="/">
        <div class="app-title">
          CANON
        </div>
      </a>

    </div>

    <div class="col-md-12 d-flex justify-content-center">
      <div class="app-sub-title">
        Closing The Gap of Continuity in Fiction
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
