<div class="col-md-12 d-flex justify-content-center">
  <div class="row w-100 mb-4 d-flex justify-content-center">
    <label for="file-sound" style="color: #e90000;background-color: #fff;padding: 4px;border-radius: 5px;position: absolute;">
      <i *ngIf="importLoad === false" class="fas fa-cloud-upload-alt fa-4x" style="cursor: pointer;"></i>
      <i *ngIf="importLoad === true" class="fas fa-spinner fa-spin fa-2x" ></i>
    </label>
  </div>
  <div class="row">
    <div class="image-upload">
      <input id="file-sound" (change)="onFileChange($event)" type="file"/>
    </div>
  </div>
</div>

<div class="col-md-12 d-flex justify-content-center mt-4 pt-4">
  <div class="form-row" *ngIf="importExternalLoad === false">
    <div class="form-group col-10">
      <label *ngIf="typeElement === 'video'" for="link" class="col-form-label-lg">Video file link</label>
      <label *ngIf="typeElement === 'audio'" for="link" class="col-form-label-lg">Audio file link</label>
      <label *ngIf="typeElement === 'photo'" for="link" class="col-form-label-lg">Photo file link</label>
      <input type="text" [(ngModel)]="linkExternale" class="form-control" id="link"  placeholder="Content title">
      <small id="linkHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group col-2">
      <label for="link" class="col-form-label-lg"></label>
      <button class="btn btn-danger mt-4" (click)="addExternalFile()">   <i class="fas fa-plus mr-2" ></i> ADD </button>
    </div>
  </div>
  <i *ngIf="importExternalLoad === true" class="fas fa-spinner fa-spin fa-4x" ></i>
</div>
