<div class="col">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <span class="d-inline-block align-top mr-5">
        <span class="fas fa-bars"></span>
      </span>
      <span>
        Category
      </span>
    </a>
  </nav>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action ">
      Article
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Document
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Film
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Favorites
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Notifications
    </a>
  </div>
</div>
