<div class="container" >
  <div class="row">
    <div class="col"></div>
    <div class="col-6 mt-2" >

      <p class="d-flex justify-content-center">
        <span class="display-4 font-weight-bold"> Reset Password </span>
      </p>

      <form [formGroup]="formSign">
        <div class="alert alert-danger" *ngIf="errorMessage !== ''" role="alert">
          {{ errorMessage }}
        </div>
        <div class="alert alert-success" *ngIf="successMessage !== ''" role="alert">
          {{ successMessage }}
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="font-weight-bold">Email address</label>
          <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="button" [disabled]="formSign.invalid || (action === true)" (click)="onSubmit()" class="btn btn-primary btn-block btn-lg mt1">
          <span *ngIf="action === false" > Rest your password</span>
          <span *ngIf="action === true">  <i class="fas fa-spinner fa-spin"></i> Loading </span>
        </button>
      </form>

    </div>
    <div class="col"></div>
  </div>
</div>
