
<div class="row w-100 mb-4">
  <div class="col-md-12 pl-5">
    <div class="form-group">
      <editor [apiKey]="apiKey" [(ngModel)]="contentString" [init]="menu" ></editor>
    </div>
  </div>
</div>
<div class="row w-100 d-flex justify-content-center">
  <button type="button"  (click)="saveElement()" class="btn btn-danger btn-lg">
    <span *ngIf="loadText === false" > Save </span>
    <span *ngIf="loadText === true">  <i class="fas fa-spinner fa-spin"></i> Loading </span>
  </button>
</div>
